<mat-toolbar color="accent" class="mat-elevation-z6">
<span>Logo here</span>

<div class="spacer"></div>

<a mat-raised-button color="warn" class="mat-elevation-z6" routerLink="Login"><mat-icon>assignment_ind</mat-icon> Login</a>
<a mat-button routerLink="home"><mat-icon>home</mat-icon> Página Inicial</a>
<a mat-button routerLink="aboutus"><mat-icon>people</mat-icon> Sobre Nós</a>
<a mat-button routerLink="balnearios"><mat-icon>wb_sunny</mat-icon> Balneários</a>
<a mat-button routerLink="agencias"><mat-icon> directions_bus</mat-icon> Agências</a>
<a mat-button routerLink="turismo"><mat-icon>airplanemode_active</mat-icon> Turismo</a>
<a mat-button routerLink="autonomo"><mat-icon>person</mat-icon> Autônomo</a>
<a mat-button routerLink="contatos"><mat-icon> contacts</mat-icon> Contato</a>



</mat-toolbar>
