<app-navbar></app-navbar>
<div class="banner">

  <div class="intro"></div>


  <div class="form">
    <div class="login">

      <span>
        Já possuí uma conta?<br>
        <b>Faça seu login!</b>
      </span>

      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input matInput/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput>
      </mat-form-field>

    </div>

    <div class="signin">
      <span>Não possuí cadastro?</span>

      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput>
        </mat-form-field>
      <mat-form-field>

      <mat-label>CPF</mat-label>
        <input matInput>
        <mat-hint>Mínimo de 10 números</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field>

    </div>
  </div>
</div>

